In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import rcParams

#Pre-Processing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn import tree
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score, f1_score, balanced_accuracy_score
from sklearn.metrics import classification_report
# from feature_engine.encoding import OneHotEncoder
# from feature_engine.encoding import OrdinalEncoder

#Modeling
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
# import xgboost as xgb
# import catboost as cb

#Feature Importance
# import shap

In [5]:
# !pip install feature_engine
# !pip install openpyxl

In [6]:
#Dataset
Ecommerce_data = pd.read_excel("E Commerce Dataset.xlsx",sheet_name="E Comm")
Ecommerce_data.head()

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60

In [7]:
Ecommerce_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

In [8]:
print("Before Dropping Missing values:", Ecommerce_data.isna().sum().sum())
Ecommerce_data.dropna(inplace=True)
print("After Dropping missing values: ",Ecommerce_data.isna().sum().sum())

Before Dropping Missing values: 1856
After Dropping missing values:  0

In [9]:
catagorical_columns = ['PreferredLoginDevice', 'PreferredPaymentMode', 'PreferedOrderCat', 'MaritalStatus']
numerical_columns = ['Tenure', 'WarehouseToHome', 'HourSpendOnApp', 'NumberOfDeviceRegistered','SatisfactionScore', 'NumberOfAddress', 'OrderAmountHikeFromlastYear','CouponUsed', 'OrderCount', 'DaySinceLastOrder', 'CashbackAmount']

In [10]:
y = Ecommerce_data['Churn']
X = Ecommerce_data.drop(['Churn','CustomerID'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30,random_state=42)

Encoding catagorical columns

In [11]:
def Encoder_Function(encoder,X_train,X_test):
    encoder.fit(X_train)
    return encoder.transform(X_train),encoder.transform(X_test)

# ordinal_encoder = OrdinalEncoder(encoding_method='arbitrary',variables='Gender')#ordinal_Encoder on Gender Column

# ohe_encoder = OneHotEncoder(variables=catagorical_columns) #ohe on all categorical columns

# X_train,X_test = Encoder_Function(ordinal_encoder,X_train,X_test)
# X_train,X_test = Encoder_Function(ohe_encoder,X_train,X_test)

# https://www.kaggle.com/code/asadii/churn-prediction-analysis#Stage-2---Pre-Processing
# https://www.kaggle.com/code/veerpatel6693/e-commerce-churn-prediction

NameError: name 'OrdinalEncoder' is not defined

# LabelEncoder

In [12]:

Encoded_data = Ecommerce_data[catagorical_columns]

label_Encoder = LabelEncoder()
Encoded_data = Encoded_data.apply(lambda x: label_Encoder.fit_transform(x))
Encoded_data = pd.concat([Encoded_data,Ecommerce_data[numerical_columns]],axis=1)
Encoded_data.head()

,PreferredLoginDevice,PreferredPaymentMode,PreferedOrderCat,MaritalStatus,Tenure,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,1,4,2,2,4.0,6.0,3.0,3,2,9,11.0,1.0,1.0,5.0,159.93
3,2,4,2,2,0.0,15.0,2.0,4,5,8,23.0,0.0,1.0,3.0,134.07
5,0,4,4,2,0.0,22.0,3.0,5,5,2,22.0,4.0,6.0,7.0,139.19
11,1,4,0,2,11.0,6.0,3.0,4,3,10,13.0,0.0,1.0,0.0,153.81
12,2,1,3,2,0.0,11.0,2.0,3,3,2,13.0,2.0,2.0,2.0,134.41

In [23]:
#Standard Scalar

scaler = StandardScaler()
Encoded_data[numerical_columns] = scaler.fit_transform(Encoded_data[numerical_columns])
Encoded_data.head()

,PreferredLoginDevice,PreferredPaymentMode,Gender,PreferedOrderCat,MaritalStatus,Tenure,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,1,4,0,2,2,-0.622195,-1.133895,0.026054,-0.735644,-0.760276,1.867247,-1.302577,-0.429832,-0.739840,0.140548,-0.177810
3,2,4,1,2,2,-1.143198,-0.086554,-1.358868,0.239873,1.398703,1.476897,2.003728,-1.027101,-0.739840,-0.452772,-1.251250
5,0,4,0,4,2,-1.143198,0.728045,0.026054,1.215390,1.398703,-0.865204,1.728203,1.361977,1.286692,0.733868,-1.038721
11,1,4,1,0,2,0.289561,-1.133895,0.026054,0.239873,-0.040617,2.257597,-0.751526,-1.027101,-0.739840,-1.342752,-0.431850
12,2,1,1,3,2,-1.143198,-0.552039,-1.358868,-0.735644,-0.040617,-0.865204,-0.751526,0.167438,-0.334533,-0.749432,-1.237137